si.radenfatah.ac.id {
    handle /api/* {
        reverse_proxy backend:3001
    }
    handle {
        reverse_proxy frontend:5000
    }
}

localhost {
    handle /api/* {
        reverse_proxy backend:3001
    }
    handle {
        reverse_proxy frontend:5000
    }
}